<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Wah_Tremolo</string>
	<string>Percs_delay</string>
	<string>DelayWah</string>
	<string>BeatRepeat</string>
	<string>Template</string>
</array>
</plist>
